html {
  scroll-behavior: smooth;
}
body{
font-family: 'Signika', sans-serif;
font-weight: 400!important;
}
p{
    font-family: 'Lato', sans-serif;
    

}
.opacity{
  opacity: 0.65!important;
}
.bg-custom{
    background: #efefef!important;
}
.bg-custom-second{
    background: #F5A623!important;
}
.box-shadow{
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1)!important;
}
.nav-link{
    color:#000!important;
}
/*========subscribe=======*/

/*======sliders========*/
.carousel .carousel-control-prev-icon{
    background-image:url('../svg/arrow_left.svg')
}
.carousel .carousel-control-next-icon{
    background-image: url('../svg/arrow_right.svg');
}
/*====blogs==*/
.blog-card{
    box-shadow: none;
}
.btn-flat{
    box-shadow: none;
}
.btn-flat:hover{
    box-shadow: none;
}
/*============custom select box=========*/
.custom-select{
    background: none;
    border: none;
    appearance:auto;
    height: calc(0.5em + .75rem + 2px)!important;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    padding: 0rem 0rem 0rem 0rem;
}
.custom-select option{
   
    color: #000;
    font-weight: 500;
}
.custom-select:focus{
  
    border: none;
    box-shadow: none;
}
/*========search=========*/
.input-group.md-form.form-sm.form-2 input.amber-border {
    background: #efefef;
    border: solid 1px #efefef;
    }
  .input-group.md-form.form-sm.form-2 input.amber-border:focus{
      box-shadow: none;
      border: 1px solid #183444!important;
  }
/*======my account drop down==========*/
.dropdown-toggle::after {
    
    border: none!important;
    vertical-align: 0em;
    padding-left: 10px;
    appearance:none;

  }
  .user::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2bd";
    padding-right: 10px;
  }
  .dropdown-toggle{
      font-weight: 400;
      color: #fff;
  }
  .cart::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f217"!important;
    padding-right: 10px;
  }

/*======list=======*/

.heart::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f08a"!important;
    padding-right: 10px;
}

/*========categories=======*/
.cat-box{
    background:#F6F6F6;
    cursor: pointer;
    height: 100%;
}
.mask{
    cursor: pointer;
}

/*--======navbar styling==========--*/
.nav-link{

}
.navbar{

}
/*--Typhography--*/
.font-32{
font-size: 32px!important;
}
.font-16{
    font-size: 16px!important;
}
.font-22{
font-size: 22px!important;
}
.font-14{
    font-size: 14px!important;
    opacity: 0.75;
}
.font-26{
    font-size: 26px!important;
}
.font-500{
    font-weight: 400;
}
.font-12{
    font-size: 12px!important;
}
.text-color{
    color: #183444;
}
/*--===============custom button==================--*/
.btn-custom{
    background: #183444!important;
    color: #fff!important;
  
    font-weight: 700;
    font-size: 16px;
    text-transform: inherit;
}
.btn-border{
    background: #fff!important;
    color: #183444;
    outline: 1px solid #183444;
    box-shadow: none;
}
/*======ecom card=======*/
.price{
    color:#183444;
}
.card.card-cascade.wider {
    background-color:transparent ;
    box-shadow: none;
  }
  .card.card-cascade.wider:hover{
      cursor: pointer!important;
  }
  .card.card-cascade.wider .view.view-cascade {
    border-radius: .25rem;
    z-index: 2;
  width: 300px;
  height: 250px;
  margin: auto;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  }
  .card-body-cascade{
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.card-body-cascade:hover,.img-zoom
 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

  .card.card-cascade.wider .card-body.card-body-cascade {
    z-index: 1;
    margin-right: 2%;
    margin-left: 4%;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
  .fa-star{
    color: #E15933!important;
  } 
.add-to-cart:hover{
    color: #183444!important;
    cursor: pointer!important;
}
.border-line{
    border-bottom: 2px solid #183444;
    width: 123px
}



/*============footer==============*/

.page-footer{
    color: #000!important;
}
.font-28{
    font-size: 28px!important;
}
footer.page-footer a{
    color: #000;
}
.custom-color{
    background-color:#183444!important
}
.footer-link{
background-image: url('../svg/footer2.png');
background-size: cover;
}
/*======social icons=============*/
.social-box{
 width: 42px;
 background: rgba(240, 244, 255, 0.74);
}
/*======custom software cards==============*/
.card.card-cascade.wider {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*--==========contact==============*/
.contact-info{
    background-image: url('../svg/contact.png');
    background-size: cover;
    height: 603px;
}
.card-contact{
    background: rgba(240, 244, 255, 0.5);
    backdrop-filter: blur(30px);    
    border-radius: 2px;
    box-shadow: none;
    width: 467px;
    margin-top: 50px;
    margin-left: -88px;
}
/*--==========contact==============*/

textarea{
  border: 1px solid #ced4da;
}
.form-control:focus{
    box-shadow: none;
    border:1px solid #183444!important;
}
textarea:focus{
  box-shadow: none;
  border:2px solid #F0F4FF!important;
}
/*===========ltest product==========*/
.product-box-4 {
    position: relative;
    
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.product-box-4 .btns {
    position: absolute;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    top: 0;
    left: 10px;
    z-index: 1;
}
.product-box-4 .btns .btn {
    height: 30px;
    width: 30px;
    background:#183444;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    margin-top: 4px;
    cursor: pointer;
    display: block;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.product-box-4 .btns .btn:hover {
    background: rgba(0,0,0,1);
}

.product-box-4 .img img {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.product-box-4 .info h4 {
    font-size: 15px;
    font-weight: 500 !important;
}
.caption-title {
   
    line-height: 20px;
    color: #232323;
}
.caption-title a {
    color: #232323;
}
.product-box-4 .info .price {
    font-size: 14px;
    font-weight: 500;
}
/*========slider arrows===========*/
.slick-prev:before, .slick-next:before{
    color: #000!important;
    background: #9e9e9e73;
    padding: 9px;
    border-radius: 3px;
}
.slick-prev {
left:-36px!important;
}
.slick-prev::before {
    font-family: "Font Awesome 5 Free"!important;
     font-weight: 900;
     content: "\f104"!important;
  }
  .slick-next::before {
    font-family: "Font Awesome 5 Free"!important;
     font-weight: 900;
     content: "\f105"!important;
  }
  /*===========account-dropdown==========*/
  .account-dropdown.show{
    left:-76px!important;
    border: none;
    box-shadow:0px 1px 10px rgba(0, 0, 0, 0.1);

  }
 
  .account-dropdown{
      min-width: 13rem!important;
  }
 
  
  .cat-dropdown{
      border:none;
      box-shadow:0px 1px 10px rgba(0, 0, 0, 0.1);
    
  }
  .dropdown:hover .dropdown-menu{
display: block!important;
border:none;

  }
  .drop-style{
      border:none;
      box-shadow:0px 1px 10px rgba(0, 0, 0, 0.1);

  }
  /*====shop====*/
  .shop{
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../svg/banners/shop.jpg');
      background-size: cover;
  }
  .breadcrumb-item+.breadcrumb-item::before{
      color: #fff;
  }
  .breadcrumb-item+.detail-page::before{
    color: #000!important;
  }
  /*======hover effect=========*/
  .hover-color:hover{
      color:#E15933!important;
  }
  
  /*===price range=========*/
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #183444;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: #183444;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  .noUi-target.noUi-connect {
  }
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }

  /*==========quantity=============*/
  .quantity{
    width:max-content;
  }
 
.quantity-icon{
  border: 1px solid #000;
  padding: 2px 15px;
}
/*===Details pages=====*/
.nav-tabs .nav-details.active{
  background-color: #183444!important;
  color: #fff!important;
}
.nav-details{
    color:#000!important;
}
/*==========card-offer=======*/
.card-offer-header{
   background:#E15933!important; 
}
.card-offer{
       background:#E15933!important; 
}
.card-offer-header-sec{
   background:#183444!important; 
}
.card-offer-sec{
       background:#183444!important; 
}
.dropdown-item{
    white-space:inherit!important;
}
@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
.footer-cat:hover{
    color:#F5A623!important;
}
.product-title{
    color:#000;
}
.product-title:hover{
    color:#F5A623!important;
}
/*--select--*/
.icon_select_mate {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  /* Oculto el elemento select */
}
.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}
.cont_select_int li {
  position: relative;
  float: left;
  width: 96%;
  border-bottom: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
}
.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  background-color: #EEEEEE;
}
.cont_select_int .active {
  background-color: #EEEEEE;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  padding: 20px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}

.content-section {
  min-height: 600px;
}

.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Position the items */
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}
